@tailwind base;
@tailwind components;
@tailwind utilities;    

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Estilos para impresión de facturas */
@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  body * {
    visibility: hidden;
  }
  
  #factura-content, #factura-content * {
    visibility: visible;
  }
  
  #factura-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
  }
  
  .no-print, .no-print * {
    display: none !important;
  }
}